* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-raw: 17, 17, 17;
  --background-color-raw: 255, 255, 255;
  --accent-color-raw: 18, 111, 111;
  --neutral-color-raw: 118, 118, 118;

  --color: rgb(var(--color-raw));
  --background-color: rgb(var(--background-color-raw));
  --accent-color: rgb(var(--accent-color-raw));
  --transparent: rgba(var(--accent-color-raw), 0);
  --neutral-color: rgb(var(--neutral-color-raw));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-raw: 238, 238, 238;
    --background-color-raw: 30, 30, 30;
    --accent-color-raw: 67, 175, 176;
    --neutral-color-raw: 134, 134, 134;
    --image-filter: grayscale(15%) brightness(90%);
  }

  /*img:not([src*=".svg"]) {
    filter: var(--image-filter);
    transition: 0.3s ease;
  }

  img:not([src*=".svg"]):hover {
    filter: none;
    transition: 0.3s ease;
  }*/
}

html {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color);
  background: var(--background-color);
}

html, body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.splash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 1.5rem;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .splash-container {
    flex-direction: row;
    align-items: center;
    font-size: 18px;
  }
}

.avatar {
  display: block;
  width: 80vw;
  height: 80vw;
  max-width: 275px;
  max-height: 275px;
  border-radius: 50%;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 30%), 0 0 15px rgba(0, 0, 0, 6%);
  margin-bottom: 40px;
  margin-right: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media screen and (min-width: 800px) {
  .avatar {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.splash h1 {
  font-size: 3em;
  letter-spacing: -.03em;
  line-height: 1;
  margin: 0;
}

.fancy {
  color: var(--accent-color);
}

.splash .nick {
  display: inline-block;
  margin-top: .275em;
  color: var(--neutral-color);
  letter-spacing: .5px;
}

.splash h2 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1.25;
  max-width: 22em;
  letter-spacing: -.03em;
}

.splash p {
  font-style: italic;
}

.social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-left: -.8rem;
}

.social > a, .social > a:visited  {
  padding: .8rem;
  color: var(--color);
}

.social > a:hover  {
  color: var(--accent-color);
}

.social > a:not(:last-child) {
  margin-right: 1em;
}

.continue, .continue:visited {
  position: relative;
  margin: 1.5rem;
  color: var(--neutral-color);
}

.continue > svg {
  height: 50px;
  width: auto;
}

.hackydummy {
  height: 50px;
  margin: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 800px) {
  section {
    align-items: center;
  }
}

section:nth-child(even) {
  color: var(--background-color);
  background: linear-gradient(var(--accent-color), var(--transparent), var(--transparent), var(--transparent)),
              linear-gradient(120deg, var(--accent-color), var(--background-color));
}

.section-container {
  width: auto;
}

@media screen and (min-width: 800px) {
  .section-container {
    width: 75vw;
    max-width: 1000px;
  }
}

.section-container > h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  position: relative;
  color: var(--color);
  background: var(--background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 30%), 0 0 15px rgba(0, 0, 0, 6%);
  overflow: hidden;
}

.grid-item * {
  position: relative;
  z-index: 1;
  color: var(--color);
  text-decoration: none;
}

.grid-item h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid-item a {
  color: var(--neutral-color);
  text-decoration: none;
}

.grid-item a:hover {
  text-decoration: underline;
}

.grid-item::after {
  position: absolute;
  content: "";
  z-index: 0;
  right: -2.5rem;
  bottom: -2.5rem;
  width: calc(100% + 2.5rem);
  height: calc(100% + 2.5rem);
  background-position: right bottom;
  background-size: 9rem;
  background-repeat: no-repeat;
  opacity: 0.09;
  transition: opacity 0.4s ease;
}

.grid-item:hover::after {
  opacity: 0.3;
}
@media (prefers-reduced-motion: no-preference) {
  .grid-item:hover::after {
    opacity: 0.09;
  }
}

.ansible::after {
  background-image: url(assets/brands/ansible.svg);
}
.azure::after {
  background-image: url(assets/brands/azure.svg);
}
.cicd::after {
  background-image: url(assets/brands/azure-pipelines.svg);
}
.docker::after {
  background-image: url(assets/brands/docker.svg);
}
.git::after {
  background-image: url(assets/brands/git.svg);
}
.gitops::after {
  background-image: url(assets/brands/flux.svg);
}
.istio::after {
  background-image: url(assets/brands/istio.svg);
}
.kubernetes::after {
  background-image: url(assets/brands/kubernetes.svg);
}
.linux::after {
  background-image: url(assets/brands/linux.svg);
}
.microsoftsql::after {
  background-image: url(assets/brands/microsoftsql.svg);
}
.postgresql::after {
  background-image: url(assets/brands/postgresql.svg);
}
.scripting::after {
  background-image: url(assets/brands/bash.svg);
}
.terraform::after {
  background-image: url(assets/brands/terraform.svg);
}

.experience-container {
  display: flex;
  flex-direction: row;
}

.timeline {
  display: flex;
  justify-content: center;
  margin: 0 1.5rem 0 0.5rem;
}

.timeline::after {
  content: "";
  position: relative;
  border-left: 4px solid var(--accent-color);
  z-index: 1;
  height: 100%;
  left: -50%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 4px solid var(--accent-color);
  background: var(--background-color);
  z-index: 2;
}

#experienced > .section-container::after {
  content: "";
  position: absolute;
  margin: 0 calc(0.5rem + (1.5rem / 2) - 2px);
  width: 4px;
  height: 2rem;
  background: linear-gradient(180deg, var(--accent-color), rgba(0, 0, 0, 0));
}

.experience {
  margin-bottom: 2rem;
}

.position {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.company, .company:visited {
  display: block;
  width: fit-content;
  font-size: 1rem;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

.company:hover {
  text-decoration: underline;
}

.timeframe {
  font-size: 1rem;
  color: var(--neutral-color);
  margin-bottom: 1rem;
}

.experience > ul {
  margin-left: 20px;
}

.experience > ul > li {
  margin-bottom: 1px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  font-size: 0.8rem;
  color: var(--neutral-color);
}

footer > a, footer > a:visited {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--neutral-color);
}

footer a:hover {
  text-decoration: underline;
}

footer svg {
  width: 15px;
  margin-left: 12px;
  margin-right: 5px;
}

.bouncy {
  animation: bounce 1.1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;

  -webkit-animation: bounce 1.1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 66% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 10px, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
    -webkit-animation: none !important;
  }
  *::after {
    transition: none !important;
    animation: none !important;
    -webkit-animation: none !important;
  }
}
