* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color: rgb(17, 17, 17);
  --background-color: rgb(255, 255, 255);
  --accent-color: rgb(68, 132, 206);
  --neutral-color: rgb(155, 155, 155);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: rgb(238, 238, 238);
    --background-color: rgb(30, 30, 30);
    --neutral-color: rgb(107, 107, 107);
    --image-filter: grayscale(15%) brightness(90%);
  }

  /*img:not([src*=".svg"]) {
    filter: var(--image-filter);
    transition: 0.3s ease;
  }

  img:not([src*=".svg"]):hover {
    filter: none;
    transition: 0.3s ease;
  }*/
}

html {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color);
  background: var(--background-color);
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  padding: 0rem 1.5rem;
}

section {
  padding: 3rem 0rem;
}

section[fullheight] {
  height: 100vh;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .splash > .wrapper {
    flex-direction: row;
    align-items: center;
    font-size: 18px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .avatar {
    height: 60vw;
    max-height: 300px;
  }
}

.avatar {
  display: block;
  width: 80vw;
  max-width: 275px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 30%), 0 0 15px rgba(0, 0, 0, 6%);
  margin-bottom: 40px;
  margin-right: 0;
}

@media screen and (min-width: 800px) {
  .avatar {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.splash h1 {
  font-size: 3em;
  letter-spacing: -.03em;
  line-height: 1;
  margin: 0;
}

.fancy {
  color: var(--accent-color);
}

.splash .nick {
  display: inline-block;
  margin-top: .275em;
  color: var(--neutral-color);
  letter-spacing: .5px;
}

.splash h2 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1.25;
  max-width: 22em;
  letter-spacing: -.03em;
}

.social {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -.8rem;
}

.social > a, .social > a:visited  {
  padding: .8rem;
  color: var(--color);
}

.social > a:not(:last-child) {
  margin-right: 1em;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
