@import "./assets/css/brands.min.css";
@import "./assets/css/solid.min.css";
@import "./assets/css/fontawesome.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color: rgb(36, 41, 46);
  --background-color: rgb(255, 255, 255);
  --accent-color: rgb(68, 132, 206);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: rgb(249, 249, 249);
    --background-color: rgb(50, 51, 54);
    --image-filter: grayscale(15%) brightness(90%);
  }

  /*img:not([src*=".svg"]) {
    filter: var(--image-filter);
    transition: 0.3s ease;
  }

  img:not([src*=".svg"]):hover {
    filter: none;
    transition: 0.3s ease;
  }*/
}

html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 20px;
  color: var(--color);
  background: var(--background-color);
}

html, body, .main {
  height: 100%;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 300px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .avatar {
    height: 60vw;
    max-height: 300px;
  }
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
}

.info {
  margin-top: 40px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.title > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.title > h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  opacity: .7;
}

.title > h2 > .dim {
  opacity: .4;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 300px) {
  .title {
    text-align: center;
  }

  .social {
    flex-direction: column;
  }
}

.social > .link, .social > .link:visited {
  font-size: 45px;
  line-height: 0;
  color: var(--accent-color);
  transition: 0.3s ease;
  margin: 10px;
}

.social > #github:hover, .social > #github:focus, .social > #github:active {
  color: var(--color);
}

.social > #gitlab:hover, .social > #gitlab:focus, .social > #gitlab:active {
  color: #fc6d26;
}

.social > #mail:hover, .social > #mail:focus, .social > #mail:active {
  color: #f6c600;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
